---
import ThemeToggler from "./ThemeToggler.astro";
import NavBarItem from "@components/shared/astro/NavBarItem.astro";
const logoImage = "/images/logo.svg";
const locale = Astro.currentLocale;

const { pathname } = new URL(Astro.request.url);
const currentPath = pathname.split("/").pop();

const navItems = [
  { text: "Home", href: `/${locale}/`, path: "" },
  { text: "Blog", href: `/${locale}/blog`, path: "blog" },
];
---

<header>
  <nav class="top-nav">

    <a href={`/${locale}/`}>
      <img src={logoImage} class="logo-dcueto" alt="logo dcueto" />
    </a>
    <div class="top-nav__right">
      <ul>
        {
          navItems.map((item) => (
            <NavBarItem text={item.text} href={item.href} path={item.path} />
          ))
        }
      </ul>
      <div class="top-nav__icons">
        <i class="search-icon fa-solid fa-magnifying-glass"></i>
        <ThemeToggler />
      </div>
    </div>
  </nav>
</header>

<style lang="scss">

  @mixin light-theme {
    --color-background__header: var(--color-yellow-js);
    --color-text__nav-item__icon--default: black;
    --color-text__nav-item__icon--hover: white;
  }

  @mixin dark-theme {
    --color-background__header: var(--color-yellow-js);
    --color-text__nav-item__icon--default: black;
    --color-text__nav-item__icon--hover: white;
  }

  :root{
    @include light-theme;
  }

  :root.dark{
    @include dark-theme;
  }

  @media ( prefers-color-scheme: dark ) {
    :root{
      @include light-theme;
    }

    :root.dark{
      @include dark-theme;
    }
  }



header{
  width: 100%;
  background-color: var(--color-background__header);
  height: 4.875rem;
}

header .top-nav{
  margin: 0 auto;
  padding: 0 10%;
  width: 100%;
  height: inherit;
  /* max-width: 1200px; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.top-nav .logo-dcueto, .top-nav a{
  height: 96%;
}

.top-nav .top-nav__right{
  display: flex;
  justify-content: space-evenly;
  gap: 0.9375rem;
  align-items: center;
}

.top-nav .top-nav__right ul{
  display: flex;
  justify-content: space-evenly;
  gap: 0.9375rem;
}

.top-nav .top-nav__icons {
  display: flex;
  align-items: center;
  gap: .5rem;
}

.top-nav i{
  font-size: 1.25rem;
  margin: 0 0.5rem;
  cursor: pointer;
  transition: all .1s ease-in;
  color: var(--color-text__nav-item__icon--default);
}

.top-nav i:hover{
  color: var(--color-text__nav-item__icon--hover);
  font-size: 1.25rem;
}

@media screen and ( width <= 500px ) {
  .top-nav .top-nav__right ul{
    display: none !important;
  }
}

</style>

<script>
  const { pathname } = window.location;
  console.log( pathname );
  const activeNavigationElement = document.querySelector(`nav a[href="${pathname}"]`);

  if (activeNavigationElement) {
    activeNavigationElement.classList.add("active");
  }
</script>